<div class="text-center">
  <h1>Dangers of Driving</h1>
  <p>Explore the pages below to learn more about driving safety through charts and data</p>
  <button type="button" class="btn btn-primary btn-lg">Block level button</button>
</div>