  <div class="text-center">
    <h1>Traffic Lights vs Round Abouts Over the Years</h1>
    <p>Chart</p>
    <div class="w-75 text-center">
      <%= @result.first() %> 
      <%= line_chart @result.first() %>
    </div>
  </div>