  <div class="text-center">
    <h1>Traffic Lights vs Round Abouts Over the Years</h1>
    <%= area_chart [
            {name: "Crossing", data: @crossing},
            {name: "Give Way", data: @give_way},
            {name: "Bump", data: @bump},
            ]%>
    <%= @bump %>
    <p>Date filter and group by month and group by year</p>
  </div>