  <div class="text-center">
    <h1>Outside Temperature and Severity of Accident Trend</h1>
    <div class="w-75 centered my-5">
      <%= line_chart [
        {name: "Number of Day Accidents", data: @num_accidents_day},
        {name: "Number of Night Accidents", data: @num_accidents_night}
        ]
      %>
    </div>
  </div>