  <div class="text-center">
    <h1>Weather Conditions with the Most Accidents</h1>
    <p>Weather conditions selectors</p>
    <p>Stacked area chart</p>
    <%= area_chart [{name: "Number of Day Accidents", data: @result}] %>
    <%= @result%>
  </div>