@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

$text: black;
$background: white;
$grey: grey;
$button-text: white;
$button-border: grey;

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.navbar {
  margin-bottom: 0;
  background: $background;
  color: $text;
}
body {
  background: $background;
  color: $text;
  font-family: "Merriweather", sans-serif;
}
h1,
h2 {
  font-weight: bold;
}
p {
  font-size: 16px;
  color: $text;
}
a:visited {
  color: $text;
}
a:hover {
  color: $text;
}
a:link {
  color: $text;
}
.jumbotron {
  background: #0048cd;
  color: $text;
  text-align: center;
  p {
    color: $text;
    font-size: 26px;
  }
}
.link {
  color: $text;
}
.text-color {
  color: $text;
}
.btn-lg {
  color: $button-text;
  border-color: $button-border;
  margin-bottom: 5px;
}
.btn-sm {
  background-color: $text;
  display: inline-block;
}
img,
video,
audio {
  margin-top: 20px;
  max-width: 80%;
}
caption {
  float: left;
  clear: both;
}
